<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="MDCORE" value="https://git.medtechtd.ru/api/v4/groups/39/-/packages/nuget/index.json" />
		<add key="Aggregation" value="https://git.medtechtd.ru/api/v4/groups/70/-/packages/nuget/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<MDCORE>
			<add key="Username" value="gitlab+deploy-token-4" />
			<add key="ClearTextPassword" value="WFLs32QLZLdX6Bb9ULjM" />
		</MDCORE>
		<Aggregation>
			<add key="Username" value="gitlab-deploy-token-9" />
			<add key="ClearTextPassword" value="-hcahBE2ruMiyRESX7z8" />
		</Aggregation>
	</packageSourceCredentials>
</configuration>
